

body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2); 
    overflow-x: hidden;
}

h1 #titol1{
    text-align: center;
    width: 150%;
    font-family: 'Roboto';
}

h1{
    text-align: center;
    font-family: 'Roboto';
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu {
    position: relative;
}

.submenu #menuMobil{
    display: none;
}
.submenu:hover #menuMobil{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 300px;
    min-width: 300px;
}

#mobile{
    margin-top: -10px;
    width: 80px;
}


#menuMobil{
    display: none;
}

.mobile-menu{
    font-size: 22px;
    margin-top: 30px;
   
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #6495ED; /* Old browsers */

}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}



.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}



.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
    margin-bottom: 35px;
    margin-top: 35px;
    
}

.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

#proximament1,
#proximament2,
#proximament3{
    border: 1px solid grey;
    background: grey;
}


.footer {
    font-size: 22px;
    margin-top: 40px;
    border-top:1px solid black;
    padding-top: 40px;  
    margin-bottom: 20px;
}

.footer .menu a{
display: block;
width: 300%;
text-decoration: none;
color: white;
}

.footer .menu a:nth-child(4){
    display: none;
}






/* Contacte */

#contacte{
    display: none;
    position: absolute;
    margin-top: -504px;
    margin-left: 30%;
    height: 520px;
    width: 40%;
    z-index: 999;
    background: white;
    border: 2px solid grey;
    overflow: scroll;
}

.tancar-contacte{
    margin-left: 85%;
    width: 10%;
}

#tancar-botó-contacte{
    border: none;
    font-size: 20px;
}


#contacte h4{
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
}

#form1{
    margin-left: 40px;
    margin-top: 20px;
}


label {
    margin-bottom: 20px;

}

input{
    width: 50%;
}

#email-input{
    border: 2px solid orange;
    border-radius: 50px;

}

#message{
    border: 2px solid orange;
    width: 65%;
    min-height: 200px;
    border-radius: 20px;
}

.envia{
    display: block;
    margin-top: 30px;
    border: 2px solid orange;
    background: orange;
    border-radius: 50px;

}

.envia:hover{
    background: #cb8606
}



/* Sobre */

#sobre{
    display: none;
    position: absolute;
    margin-top: -850px;
    margin-left: 22%;
    background: white;
    border: 2px solid grey;
    height: 750px;
    width: 50%;
    z-index: 888;
    padding: 20px;
    overflow: scroll;
}

.tancar-sobre{
    position: relative;
    margin-left: 90%;
    margin-top: -12%;
}


#sobre h4{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

#primer-p{
    margin-top: 40px;
    margin-bottom: 10px;
}

#sobre-llista{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

#penultim-p{
    margin-bottom: 50px;
}

#donació-botó{
    margin: -2px 5px;
    font-size: 14px;
}

#donació-botó:hover{
    background: orange;
}

#anims{
    color: black;
    font-weight: 800;
    font-size: 16px;
}




/* Suport */

#suport{
    display: none;
    position: absolute;
    margin-top: -600px;
    margin-left: 20%;
    background: white;
    height: 650px;
    width: 60%;
    z-index: 777;
    overflow: scroll;
}

.tancar-suport{
    position: relative;
    margin-left: 90%;
}

#tancar-botó-suport{
    border: none;
    font-size: 20px;
}

#donació{
    margin-top: 20px;
    margin-right: 20px;
}

#donació h4{
    text-align: center;
    font-size: 24px;
}

#donació p{
    margin-left: 40px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#name, #any-input, #mes-input, #tarjeta, #quantitat{
    border: 2px solid orange;
    border-radius: 50px;
    margin-bottom: 30px;
}

#tarjeta{
    display: block;
}


#mes-label, #any-label{
    display: inline-block;
    width: 100px;
}

#mes-input, #any-input{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    margin-left: -20px;
}







/* Media */ 


@media screen and  (min-width:600px) and (max-width: 900px){
    .tancar-sobre{
        margin-top: -20%;
    }

    #primer-p{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .tancar-suport{
        position: relative;
        margin-left: 80%;
    }

    .tancar-contacte{
        margin-left: 90%;
    }
}


@media screen and  (min-width: 360px) and (max-width: 599px){
    html, body {
        overflow-x:hidden 
      } 

    #contacte{
        margin-left: 5%;
        width: 82%;
    }

    .tancar-suport{
        position: relative;
        margin-left: 80%;
    }

    .tancar-contacte{
        margin-left: 85%;
    }

}






/* 


@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}



@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}

@media (max-width:500px) {
    .footer .menu a:nth-child(4){
        display: block;
        font-size: 18px;
    }

    .footer .menu a{
        display: none;
        width: 300%;
        text-decoration: none;
        color: white;
        }
}



@media (max-width: 320px){
    #contacte {
        margin-left: 10%;
        margin-right: 5px;
        width: 80%;
        overflow: hidden;
    }
}

@media (max-width: 950px){
    #sobre {
        margin-top: -1050px;
        height: 1000px;
    }

    #tancar-sobre{
        margin-top: -20%;
    }
}

@media (max-width: 460px) {
    #sobre {
        display: none;
    }
}


@media (max-width: 1024px) {
    #suport{
        display: none;
    }
}


*/